# Скомпільовані файли та папки збірки (CMake)
build/
cmake-build-*/
out/
.cache/
CMakeCache.txt
CMakeFiles/

# Файли конфігурації редакторів (VS Code, CLion, etc.)
.vscode/
.idea/
*.code-workspace

# Бінарники та об'єктні файли
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.su
*.d

# OS специфічні файли
.DS_Store
Thumbs.db

# PlatformIO (якщо ви колись його використовували)
.pio/
