# Compiled files and CMake build directories
build/
cmake-build-*/
out/
.cache/
CMakeCache.txt
CMakeFiles/

# Editor configuration files (VS Code, CLion, etc.)
.vscode/
.idea/
*.code-workspace

# Binaries and object files
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.su
*.d

# OS specific files
.DS_Store
Thumbs.db

# PlatformIO (if previously used)
.pio/
